.container {
    display: grid;
    grid-template-columns: 70% .1% auto;
    background: #eeece6;
    height: 55vh;
}

.hamburgers {
    display: grid;
    grid-template-columns: 50% auto;
    margin-top: 22%;
    margin-left: 6%;
    border-right: #707070;
}

.hamburger-box {
    width: 238.6px;
    height: 115px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #707070;
    border-radius: 6%;
}

.margin {
    display: grid;
    grid-column: 2;
    background: #707070;
}