.container {
    display: grid;
    grid-template-columns: 70% .1% auto;
    background: #eeece6;
    height: 55vh;
}

.breakfast {
    display: grid;
    grid-template-columns: 50% auto;
    border-right: #707070;
    margin-left: 7%;
    margin-top: 10%;
}

.breakfast-box {
    display: grid;
    width: 238.6px;
    height: 115px;
    grid-template-columns: 30% auto;
    grid-template-rows: 75% auto;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 2px #707070;
    border-radius: 6%;
}

.margin {
    display: grid;
    grid-column: 2;
    background: #707070;
}

.yellow-circle {
    width: 46.6px;
    height: 46.6px;
    border-radius: 100px;
    border: solid 2px #fac105;
    margin: 27px 36px 9px 17px;
}

.options-brkfst {
    width: 37px;
    height: 37px;
    object-fit: contain;
    margin: 3px 27px 9px 6px;
    z-index: 2;
}

.breakfast-name {
    display: grid;
    grid-column: 2;
    width: 73px;
    height: 82px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    line-height: 0.92;
    text-align: left;
    color: black;
    margin-top: 16%;
}

.price {
    grid-column: 2;
    width: 41px;
    height: 28px;
    font-family: Roboto;
    font-size: 23px;
    text-align: right;
    color: black;
    margin-left: 104px;
}