<div class="up-bar"></div>
<div class="menu">
    <img class="ic_launcher" src="../assets/imgns/ic_launcher.png" alt="logo">
    <p class="menu-options" id="breakfast">Desayuno</p>
    <p class="menu-options" id="hamburgers">Hamburguesas</p>
    <p class="menu-options" id="drinks">Bebidas</p>
    <p class="menu-options" id="complements">Complementos</p>
</div>
<div class="header-ticket">
    <p class="cant-prod-pri" id="cant">Cant.</p>
    <p class="cant-prod-pri" id="product">Producto</p>
    <p class="cant-prod-pri" id="price">Precio</p>
</div>
<div class="content">
    <div class="promos">
        <p class="remember-prom">Luis, no olvides mencionar la promoción de los aros de cebolla.</p>
    </div>
</div>