.up-bar {
    width: 1024px;
    height: 24px;
    background-color: black;
}

.menu {
    width: 690px;
    height: 55px;
    border-radius: 2px;
    background-color: #fac105;
}

.ic_launcher {
    width: 49px;
    height: 49px;
    border-radius: 36px;
}

.header-ticket {
    background-color: #eeece6;
    position: relative;
    float: right;
    margin-right: -1%;
    margin-top: -5.5%;
    width: 35%;
    height: 55px;
}

.cant-prod-pri {
    width: 63px;
    height: 52px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 0.83;
    text-align: left;
    color: black;
    display: inline-block;
    margin-top: 4.5%;
}

#product {
    position: relative;
}

#cant {
    margin-left: 20%;
}

#price {
    position: relative;
    float: right;
    margin-right: 8%;
}

.menu-options {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    line-height: 0.83;
    letter-spacing: normal;
    text-align: left;
    color: black;
    display: inline-block;
}

#breakfast {
    width: 106px;
    height: 32px;
}

#hamburgers {
    width: 164px;
    color: #721a16;
}

#drinks {
    width: 87px;
}

#complements {
    width: 164px;
}

.remember-prom {
    font-family: Roboto-Medium;
    font-size: 25px;
    text-align: center;
    width: 677px;
    font-weight: 500;
}

.promos {
    width: 677px;
    background-color: #eeece6;
}

.content {
    background-color: #eeece6;
}