<nav class="nav-bar">
    <div class="up-bar"></div>
    <div class="menu">
        <img class="ic_launcher" src="../assets/imgns/ic_launcher.png" alt="logo">
        <a class="menu-options" id="breakfast" [routerLink]="['breakfast']" routerLinkActive="active">Desayuno</a>
        <a class="menu-options" id="hamburgers" [routerLink]="['food']" routerLinkActive="active">Hamburguesas</a>
        <a class="menu-options" id="drinks" [routerLink]="['drinks']" routerLinkActive="active">Bebidas</a>
        <a class="menu-options" id="complements" [routerLink]="['complements']" routerLinkActive="active">Complementos</a>
    </div>
    <div class="header-ticket">
        <p class="cant-prod-pri" id="cant">Cant.</p>
        <p class="cant-prod-pri" id="product">Producto</p>
        <p class="cant-prod-pri" id="price">Precio</p>
    </div>

    <div class="promos">
        <p class="remember-prom">Luis, no olvides mencionar la promoción de los aros de cebolla.</p>
    </div>

</nav>