footer {
    display: grid;
    grid-template-columns: 70% auto;
    grid-column: 2;
    background: #eeece6;
}

.total {
    display: grid;
    grid-column: 2;
}

.buttons-footer {
    display: grid;
    grid-column: 2;
    grid-template-columns: 50% auto;
}

.buttons-total {
    width: 147px;
    height: 76px;
    border-radius: 24px;
    border: solid 2px #721a16;
}

.typography {
    width: 147px;
    height: 76px;
    opacity: 0.96;
    font-family: Roboto;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.85;
    letter-spacing: normal;
    text-align: center;
    color: #721a16;
}