footer {
    display: grid;
    grid-template-columns: 70% auto;
    grid-column: 2;
    background: #eeece6;
}

.total {
    display: grid;
    grid-column: 2;
}

.buttons-footer {
    display: grid;
    grid-column: 2;
    grid-template-columns: 50% auto;
}

.buttons-total {
    width: 147px;
    height: 76px;
    border-radius: 24px;
    border: solid 2px #721a16;
}